---
export interface Props {
  title: string
  description: string
  link: string
  image: string
}

const {title, description, link, image} = Astro.props
---

<div class='project-item'>
  <a href={link} target='_blank' rel='noopener noreferrer'>
    <img src={image} alt={`${title} Screenshot`} />
    <h3>{title}</h3>
    <p>{description}</p>
  </a>
</div>

<style>
  .project-item {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    overflow: hidden;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);w
  }

  .project-item a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: inherit;
  }

  .project-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }

  .project-item h3 {
    margin-top: 15px;
    font-size: 1.5rem;
    color: #ffffff;
  }

  .project-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #a1a1aa;
  }
</style>
